@page "/Classes/Edit/{Id}"
<PageTitle>Students-Edit</PageTitle>
@inject ClassesDataServices classesDataServices
@inject NavigationManager navigate
<h3>Edit</h3>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Edit Class Form
                </div>
            </div>
            <div class="card-body">
                <EditForm Model="@UpdateClass">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Classes Name</label>
                                <input type="text" id="txtClassesName" class="form-control" @bind="@UpdateClass.class_name" required />
                            </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="button" class="btn btn-success" @onclick="@UpdateClassDataAsync" value="Submite" />
                                <a href="/Classes">Back to List</a>
                            </div>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
        <div class="form-btn-group">
        </div>
    </div>
</div>
@code {
    ClassesData UpdateClass { get; set; } = new ClassesData();
    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await RefreshClass();
    }

    private async Task RefreshClass() => UpdateClass = await classesDataServices.getClassAsync(Int32.Parse(Id));

    private async void UpdateClassDataAsync()
    {
        if (await classesDataServices.updateClassAsync(UpdateClass))
            navigate.NavigateTo("Classes");
    }
}
